* {box-sizing: border-box;}
body,
html{padding: 0; margin: 0;}

body{background: #000;}

header{background-color: #fff; padding: 0px 5px 0px 15px; width: 100%;}

nav{
    background-color: #fff;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.menu{
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    
}


.fotomenu{
    width: 14.28%;
    text-align: center;
}

.dropdown {
    overflow: hidden;
    width: 14.28%;
}
  
.dropbtn {
    font-size: 22px;  
    height: 60px;
    border: none;
    outline: none;
    color: #fff;
    background-color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.dropbtn a{
    text-decoration: none;
    color: #000;
}

.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: whitesmoke;
    min-width: 160px;
    width: 14.12%;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#f1logo{
    width: 80px;
    height: 50px;
    margin-top: 8px;
}

#fialogo{
    width: 80px;
    height: 50px;
    margin-top: 8px;
}

.griglia{
    display: flex;
    flex-wrap: wrap;
}

.colonne{
    width: 33.33%;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    border: 4px double red;
}

#text {color: #fff;}



footer{text-align: center; font-size: 15px;}
footer p{color: #fff; font-family: Arial;}



