* {box-sizing: border-box;}

.container-pagina{display: flex; align-items: stretch;}

footer p {text-align: center;}

@media (max-width: 768px) {
    .container-centrale {flex-wrap: wrap;}
    menu,
    main,
    aside {width: 100%;}
}